Index of users
<ul>
	<% 3.times do |num| num = num + 1 %>
		<li>
			<a href="<%= path_to UsersController, :show, id: num %>">User #<%= num %></a>
		</li>
	<% end %>
</ul>
<form action="/users" method="POST">
	Name: <input type="text" name="name" />
	<input type="submit" value="Create" />
</form>
