<!DOCTYPE html>
<html>
	<head>
		<title>Flame Example Appliaction</title>
		<base href="/">
		<link rel="stylesheet" href="styles/example.css">
	</head>
	<body>
		<h1>Layout</h1>
		<%= yield %>
	</body>
</html>
